{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Courses</h1>
    <table class="table table-striped">
      <thread>
        <th scope="col">#</th>
        <th scope="col">Course Id</th>
        <th scope="col">Course Name</th>
      </thread>
      <tbody>
        {% for course in courses %}
          <tr>
            <th scope="row">{{loop.index0}}</th>
            <td>{{course.id}}</td>
            <td>{{course.name}}</td>

          </tr>
          {% endfor %}
      </tbody>

    </table>
  </div>

{% endblock %}